<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klasifikasi Hoaks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Icon2.ico') }}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/14481c1a0f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
</head>

<body>
    <!-- {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}  
            <div class="alert alert-warning" role="alert">
                {{ message }}
                                
            </div>
            {% endfor %}  
        {% endif %}  
    {% endwith %} -->

    <div class="content">
        <div class="title">
            <a href="{{ url_for('index') }}" style="text-decoration:none; color:inherit;"> Klasifikasi Hoaks Seputar
                Vaksin Covid-19</a>
        </div>
        <div class="container">
            <div class="opt-rb">
                <!-- <span>Pilih opsi di bawah untuk memulai</span> -->
                <form>
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" value="teks" onclick="toggle()" checked />
                        <label for="radio-1" class="radio-label">Klasifikasi teks kalimat</label>
                    </div>
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio" value="file" onclick="toggle()">
                        <label for="radio-2" class="radio-label">Upload file</label>
                    </div>
                </form>
            </div>
            <div id="klasifikasi-teks">
                <div class="proses">
                    <form class="form-2" action="{{ url_for('prediksi_teks') }}" method="POST"
                        enctype="multipart/form-data">
                        <div class="caption">Masukkan Teks</div>
                        <ul class="form-style-1">
                            <li>
                                <textarea name="teks" class="textarea-field" onkeyup="btnActivation()"
                                    placeholder="Masukkan Teks" maxlength="144">{{ pesan }}</textarea>
                            </li>
                            <li><span id="countText">Total karakter: </span></li>
                            <li>
                                <input type="reset" value="Hapus" />
                                <button type="submit" value="Submit" class="submit" disabled>Klasifikasi Teks</button>
                            </li>
                        </ul>
                    </form>
                    <div class="hl"></div>
                    <div class="hasil">
                        
                            <div class="Hasil_prediksi">
                                <div class="caption">Hasil Klasifikasi</div>

                                <span class="hasil_prediksi_teks" data-prediksi="{{ prediksi_teks }}"> Persentase Hoaks:
                                    <strong>{{ prediksi_teks }} %</strong></span>

                            </div>
                            <div>
                                <div class="chart-container">
                                    <p class="caption">Grafik Persentase Hoaks</p>
                                    <canvas id="myChart" width="100" height="100"></canvas>
                                </div>
                            </div>
                        
                        <div class="ner">
                            <p class="caption">Entitas dalam teks</p>
                            <table>
                                <tr>
                                    <th>Kata</th>
                                    <th>Entitas</th>
                                </tr>
                                {% for item in ner %}
                                <tr>
                                    <td>
                                        <span class="hasil_prediksi text">{{ item[0] }}</span>
                                    </td>
                                    <td>
                                        <span class="hasil_prediksi label">{{ item[1] }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <!-- <ul>
                                {% for item in ner %}                                
                                <li class = "entitas">
                                    <span class="hasil_prediksi">{{ item[0] }}</span>
                                    <span class="hasil_prediksi label">{{ item[1] }}</span>
                                </li>
                                {% endfor %}                                
                            </ul> -->
                            
                            
                            
                            
                            
                            <!-- {% for item1 in text %}
                                <span class="hasil_prediksi">{{ item1 }}</span>
                            {% endfor %}
                            {% for item2 in label %}
                                <span class="hasil_prediksi">{{ item2 }}</span>
                            {% endfor %} -->
                        </div>
                    </div>
                </div>
            </div>

            <div id="upload-file">
                <div class="upload-file">
                    <form class="form-2" name="form_2" action="{{ url_for('prediksi_file') }}" method="POST"
                        enctype="multipart/form-data">
                        <div class="caption">Pilih berkas</div>
                        <ul class="form-style-1">
                            <li>
                                <div class="box-file">
                                    <i class="fas fa-file-upload fa-3x" style="color:#97a6c3;margin-right: 24px;"></i>
                                    <div class="txt-inside"><span class="select-file-txt">Masukkan dokumen anda di sini</span><br>
                                        <small>Format <span>txt</span> | ukuran maksimal <span>1 mb</span></small>
                                    </div>
                                    <div class="file-input">
                                        <input type="file" id="file" name="file" class="file" accept=".txt" >
                                        <label for="file" class="input-file-trigger">Pilih file</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="filename">
                                    <p class="doc-name">{{ filename }}</p>
                                    <span class="close">X</span>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="submit" value="checked" onclick="checkFile(this.form)" disabled>Klasifikasi Dokumen</button>
                            </li>
                        </ul>
                    </form>
                    <div class="vl"></div>

                    <div class="hasil">
                        <div class="chart_hasil">
                            <div class="Hasil_prediksi">
                                <div class="caption">Hasil Klasifikasi</div>

                                <span class="hasil_prediksi_file" data-prediksi="{{ prediksi_file }}"> Persentase Hoaks:
                                    <strong id="myStrong">{{ prediksi_file }} %</strong></span>

                            </div>
                            <div>
                                <div class="chart-container">
                                    <p class="caption">Grafik Persentase Hoaks</p>
                                    <canvas id="myChart2" width="100" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="ner">
                            <p class="caption">Entitas dalam teks</p>
                            <span class="hasil_prediksi">{{ ner_file }}</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='script/grafik_teks.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/grafik_file.js') }}"></script>

    <!-- <script src="D:\FADIL\klasifikasi-hoaks\node_modules\chartjs\dist\chart.js"></script> -->
</body>

</html>